body {
    background-color: #e0ebe8;
    margin: 0;
    font-family: 'Handlee', cursive;

}
h1{
    
    color:#0E5E6F;
}
h2{
    
    color:#0E5E6F;
    margin-top: 0;
    font-family: 'Handlee', cursive;
}
h3{
    
    color:#0E5E6F;
}
td{
    border: #0E5E6F;
}
div{
    display: block;
}
hr{
    border-style: none ;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 20%;
}
.top-container {
    max-width:auto;
    height: auto;
    margin:0 ;
    position: relative;
    z-index: 990;
    background-color: #678983;
    padding: 1%;
    /* text-align: center; */
    /* transition: all .5s ease-in-out; */
}
/* .nav-list{
    padding-top: 1.5em;
    padding-right: 100px;
    position: relative;
    float: right;
    /* display: contents; */
    /* float: left; */

/* .ul{
    margin-top: 0;
    margin-bottom: 10px;
} */
/* .nav-list {
    display: flex;
  }
  
  .nav-list li {
    display: inline-block;
    margin-right: 20px;
  } */

.middle-container {
    max-width: initial;
    font-family: cursive;
    height: auto;
    margin:0 ;
    position: relative;
    z-index: 990;
background-color: lightgray;
text-align:-webkit-center ;
    /* background-color: #E6DDC4; */
}
.bottom-container {
    max-width: initial;
    height: auto;
    margin:0 ;
    position: relative;
    z-index: 990;
    /* background-color: #181D31; */
    background-color: #678983;
    
}
.profile{
    /* position: absolute; */
    text-align: left;
}
.skl{
    /* width: 102.975px;
    height: 85.600px; */
    /* border-radius: 50%; */
    width: 44px;
    vertical-align: -webkit-baseline-middle;
    height: 44px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* margin: -32px 0 0 -32px; */
}

#cloud{
    padding: 2px;
}
#mountain{
    padding: 20px;
}
#fahad-pic{
    width: 152px;
    height: 152px;
    border-radius: 50%;
}
